//font
$roboto-font: 'Roboto', 'Arial', sans-serif;
//colors
$accentCol: #4E4E4E;
$whiteCol: #fff;
$blackCol: #000;
//screen sizes
$screen-sm: 320px;
$screen-md: 481px;
$screen-lg: 993px;
$screen-xl: 1200px;

$trans-time: .2s;
